<table class="generaltable">
    <tr>
        <th>User ID</th>
        <th>Status</th>
        <th>Date</th>
        <th>Time</th>
    </tr>
    {{#attendances}}
    <tr>
        <td>{{userid}}</td>
        <td>{{status}}</td>
        <td>{{atdate}}</td>
        <td>{{attime}}</td>
    </tr>
    {{/attendances}}
</table>
